* { box-sizing: border-box; font-family:  Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;}
body { margin: 0%; color: #dbc6d4; background-color: #7b5e7b;}
.Main { background-color: #7b5e7b; height: 93vh;}
.Header { background-color: #1c0221; font-size: 2em;}
.header:hover { background-color: black;}
.header { text-decoration: underline;}
.Footer { background-color: #1c0221; position: fixed; left: 0; bottom: 0; text-align: center; width: 100%;}
.row::after { content: ""; clear: both; display: table;}
[class*="col-"]{ width: 100%; padding: 0px; float: left; margin: 0px;}
  @media only screen and (min-width: 768px) {
    body { background-color: #7f707a;}
   .Main { margin-left: 15%; margin-right: 15%;}
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;} }

